<header>
    <div class="container">
      <div class="row">
        <div class="col-4 text-left">
          <!-- <p><a class="btn btn-danger" href="/covid-19/" role="button">All Bookings are Suspended due to COVID-19</a></p>
          <p><a class="btn btn-primary" href="https://vitfitcdf.as.me/" role="button">Book Now</a></p> -->
        </div>
        <div class="col-8 text-right">
          <p><i class="material-icons md-18">call</i> <a href="tel:+442920140069">(029) 2014 0069</a></p>
        </div>
      </div>
    </div>
</header>
